@use "mixins" as m;
#shopping-cart {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:unset;
    width: 100%;
    margin-bottom: 5%;
    top: 50px;
    z-index: 2;
    &__products {
     border : 1px solid black;
     @include m.desktop {
        width: 55%;
        text-align: left;
     }
        ul {
            list-style-type: none;
            padding: 0.5em 1em 0.5em 1em;
            border-bottom: 1px solid black;
            margin: 0;
            @include m.desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                

            }
            li {
                padding: 3px 0px;
            }
        }
        #arrows {
            display: inline;
            border: none;
            padding: 0;
            height: fit-content;
            width: fit-content;
        }
     
    }
}

.productName {
    @include m.desktop {
        width: 180px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}
.productAmount {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
        border: 1px solid black;
        padding: 2px 4px;
    }
  
}

.productPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include m.desktop {
       span {

       width:110px;  }
    }

    button {
        background-color: red;
        border-radius: 10%;
    }
}

#totalPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 0.5em;

    h5 {
        margin: 0;
    }
}



// Checkout shoppingcart

#shopping-cart-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    border: 1px solid black;

    @include m.desktop {
        width: 300px;
    }
    #shopping-cart__products-checkout {

        @include m.desktop {
            width: inherit;
        }
      ul {
         border-bottom: 1px solid black;
        padding: 0.8em 0.5em 0.5em 0.5em;
        list-style-type: none;
        margin: 0;
        ul {
            border: none;
            padding-bottom: 0;
        }
      }
    }
        #arrows {
            display: inline;
            border: none;
            padding: 0;
            padding-bottom: 0em;
            height: fit-content;
            width: fit-content;
        }
        #totalPrice {
            padding-top: 0.5em;
        }
    }


.productNameCheckout {
     @include m.desktop {
        width: fit-content;
        margin: auto;
    }
}
.productAmount {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
        border: 1px solid black;
        padding: 2px 4px;
    }
  
}

.productPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include m.desktop {
       span {

       width:110px;  }
    }

    button {
        background-color: red;
    }
}

#totalPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;

    h5 {
        margin: 0;
    }
}

.evenRow {
    background-color: #d9dedb;
}