@use "header";
@use "footer";

@use "shopping-cart";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  // background-color: #f4f4f4;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  top: 0px;
}

